</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/javascripts/recette.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>