<%- include header %>
<div id="app">
    <h1>{{title}}</h1>
</div>
<div>
    <div class="card" style="width: 18rem;">
        <img src="../../public/image/Hachis.jpeg" class="card-img-top" >
        <div class="card-body">
            <h5 class="card-title">
                Hachis parmentier chilien (pastel de choclo)</h5>
            <p class="card-text">Plat -
                458kcal</p>
            <a href="#" class="btn btn-primary">Les détails</a>
        </div>
    </div>
</div>
<!--<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">分享</a></div
<%- include footer %>