<%- include header %>
    <h1><%= title %></h1>
    <hr>
    <div class="row">
            <div class="col-sm">
                    <img class="livraisonImage" style="height:500px; width:500px;" src="./image/livraison.png" alt="livraisonImage">
            </div>
        <div class="col-sm" style="display: flex;align-items: center;">
            <div><strong>Votre commande est bien enregistré.</strong></div>
            <div><strong>La livraison est en train de traiter.</strong></div>
        </div>
    </div>
<%- include footer %>