<%- include header %>
    <h1><%= title %></h1>
    <hr>
    <div class="row">
        <div class="col-ms-6">
            <strong>Votre commande est bien enregistré.</strong>
            <strong>La livraison est en train de traiter</strong>
        </div>
    </div>
<%- include footer %>