<%- include header %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<form action="users" method="post" align = "center">
    
    <div v-else>
        <p>Log out successfully!</p>
    </div>
</form>
<%- include footer %>
